@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: #161c1f;

  font-family: "Plus Jakarta Sans";
  font-weight: 600;

  padding: 0;
  border: 0;
  margin: 0;
}

div#ajuste {
  display: inline-block;

  background-color: #f35b6f;
  padding: 10px 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 10px;
  
  margin-top: 20px;
}

h1 {
  color: white;

  font-size: 25px;
  font-weight: 700;

  margin: 2px;
}

h2 {
  color: white;

  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;

  margin: 2px;
}

h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;

  display: flex;
  text-align: center;
  justify-content: center;

  margin: 40px 0;
}

div#principal {
  background-color: white;
  border-radius: 20px;
  width: 50%;

  display: grid;
  justify-items: center;

  padding: 15px;
  margin: 0 auto;
}

div#subprincipal {
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  margin: 20px 0;
}

div#subprincipal > input#left {
  width: 90%;
  height: 42px;

  font-size: 20px;
  padding: 3px 3px 3px 10px;

  border: 1px solid rgb(118, 118, 118);
  border-right: 0;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

div#subprincipal > input#right {
  width: 25%;
  height: 50px;
  background-color: #161c1f;

  font-size: 13px !important;

  color: white;
  font-size: 15px;
  font-weight: bold;

  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

input::placeholder {
  padding-left: 5px;
  font-size: 14px;
}

input:focus, textarea:focus {
  outline: none !important;
  border-color: #161c1f;
  box-shadow: 0 0 10px #161c1f50;
}

option:first {
    color: #999;
}

select {
  font-size: 12px;
  height: 30px;
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

textarea#lista {
  font-family: "Plus Jakarta Sans";
  
  width: 100%;
  height: 100px;
  background-color: #fcfbfc;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

div#subsubprincipal {
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin-left: 20px;
}

input#ordenar {
  background-color: #161c1f;

  font-size: 13px !important;

  color: white;
  font-size: 15px;
  font-weight: bold;

  padding: 5px 0;
  border: 0;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}